<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8" />
<title>Change Password</title>
<link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>
	{% if messages %}
		{% for message in messages %}
			<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
		{% endfor %}
	{% endif %}
		<form method="post">
 			 {% csrf_token %}
			<div class="mail">	{{ form.old_password }}</div>
  			<div class="profile">	{{ form.new_password1 }}</div>
			<div class="profile">	{{ form.new_password2 }}</div>
  		<button type="submit">submit</button>
	</form>
	<a href="/user_index/">User Index</a>	
</body>
</html>