<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Data</title>
</head>
<body>
    Create {{app}}.{{table}} Data  {{msg}}
    <form action="" method="post">
        {% csrf_token %}
        {%for a in form%}
        {{a.label}} : {{a}}<br>
        {%endfor%}
        <button type="submit">submit</button><br>
    </form>
</body>
</html>