<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<table>
    <tr>
        {%for a in fields%}
            <th>{{a.name}}</th>
        {%endfor%}
    </tr>
        {%for a in data%}
            <tr>
                {%for k in a%}
                    <td>{{k}}</td>
                {%endfor%}
                        <td><a href="/modify/{{app}}/{{table}}/{{fields.0.name}}/{{a.0}}/">modify</a></td>
                        <td><a href="/delete/{{app}}/{{table}}/{{fields.0.name}}/{{a.0}}/">delete</a></td>
            </tr>
        {%endfor%}
</table>
<a href="/create/{{app}}/{{table}}/">create new</a>
</body>
</html>