<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
{{message}}<br>
<h1>--------</h1>
<a href="http://127.0.0.1:8000/{{rout}}/verify?id={{id}}&emailVerifycode={{code}}">http://127.0.0.1:8000/{{rout}}?id={{id}}&emailVerifycode={{code}}</a>
</p>
</body>
</html>