<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8" />
<title>Forgot Password</title>
</head>
<body>
	<form action="" method="post">
    {% csrf_token %}
	<input class="mail" name="mail" type="text" placeholder="Please enter E-mail"/>
	<button type="submit">submit</button>
	</form>
</body>
</html>