<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Two factor</title>
</head>
<body>
{% if qr_url %}
請記下:{{note}}<br>
{{qr_url}}<br>
<img src={{qr_url}} ><br>
請輸入2FA認證碼開啟認證服務<br>
{%else%}
{{note}}<br>
請輸入2FA驗證碼:<br>
{%endif%}
<form action="" method="post">
    {% csrf_token %}
<input id='facode' type="text" name='facode' value="">
</form>
</body>
</html>