<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{data}}
<br>
--------------<br>
{{im}}
<form enctype="multipart/form-data" action="" method="POST">

    {% csrf_token %}
    MODEL1:<input type="checkbox" name="aaa"/>
    <input type="text" placeholder="名字" name="name" />
    <br><br>
    <input type="file" placeholder="图片" name="picture" />
    <br><br>
    <button type="submit" value="Login">上传</button>
    </form>
</body>
</html>