<!DOCTYPE html>
<html lang="zh-TW">
<head>

<meta charset="UTF-8" />
<title>Login</title>
</head>
{% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}
<body>
	<div class="form_set">
		<form action="" method="post">
	        {% csrf_token %}
			{{form.username}}
			{{form.password}}
			<button type="submit">Login</button><br>
		</form>
	</div>
	<a href="/forgotpassword/">Forgot Password</a><br>
	<a href='/register/'>Sign up</a>
</body>
</html>