<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Data</title>
</head>
<body>{{msg}}
    <form action="" method="post">
        {% csrf_token %}
        {%for a,b in values.items%}
            {% if pk == a %}
                {{a}} ={{b.value}}*pk
            {% elif a in noshowlist %}
                
            {% elif b.isFK %}
                {{a}} =<select name={{a}}>
                    {% for c in b.choices%}
                        <option name={{a}} value={{c}}>{{c}}</option>
                    {%endfor%}
                </select>*ForeignKey
            {% else %}
                {{a}} =<input name={{a}} value={{b.value}}>
            {% endif %}<br>
        {%endfor%}
        <button type="submit">submit</button><br>
    </form>
</body>
</html>