<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8" />
<title>Sign up</title>
<style type=text/css>
	.switch {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 20px;
	}  
	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}
  /* The slider */
 	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
 	}
	.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  input:checked + .slider {
	background-color: #2196F3;
  }
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(15px);
  }
  /* Rounded sliders */
  .slider.round {
	border-radius: 10px;
  }
  .slider.round:before {
	border-radius: 50%;
  }
</style>
</head>
<body>
<form action="" method="post">
	{% csrf_token %}
	<div class="mail">{{form.email}}</div>
	<div class="pws">{{form.password1}}</div>
	<div class="pws">{{form.password2}}</div>
	<label class="switch">
		<input name='swi' type="checkbox">
		<span class="slider round"></span>
	</label>關閉email驗證<br>
	<button type="submit">submit</button><br>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
                <strong>{{ error }}</strong><br>
        {% endfor %}
    {% endfor %}
{% endif %}
</form>
</body>
</html>