<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	{% if messages %}
		{% for message in messages %}
			<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
		{% endfor %}
	{% endif %}
		<form action="" method="post">
            {% csrf_token %}
			{{form.new_password1}}<br>
			{{form.new_password2}}
		<button type="submit">submit</button>
		</form>


</body>
</html>