<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8" />
<title>Hello {{user}}</title>
</head>
<body>
	{% if messages %}
		{% for message in messages %}
			<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
		{% endfor %}
	{% endif %}
	{%for re in records%}
		<li>{{re.time}}---{{re.IP}}---{{re.city}}</li>
	{%endfor%}
<a href="/chpwd">Change Password</a><br>
<a href="/logout">logout</a>

</body>
</html>